<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
</head>
<body>
    <script>
    let xAndy = (x,y)=>x+y;
    let zCount = xAndy=>z => xAndy + z;

    let count = xAndy => zCount=> xAndy + zCount;
    
    let xAndyCount = xAndy(1,2);
    let zCountNum = zCount(xAndyCount)(10);
    let countNum = count(xAndyCount)(zCountNum);

    // console.log(count(1)(2)(3));
    console.log( zCount(xAndy(1,2))(3) )
    console.log(countNum);

    </script>
</body>
</html>