<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>


  <button id="getToken">取token</button>
  <button id="payTest"> pay test</button>

  <script src="https://cdn.bootcss.com/vConsole/3.3.0/vconsole.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>

    let getToken = document.getElementById('getToken')
    let payTest = document.getElementById('payTest')
    
    var vConsole = new VConsole();
    // let url = window.location.href
    // let token = url.split('?')[1].split('=')[1]
    // console.log('token====', url);


    function getUrlParam(paramName){
        let paramValue = "", isFound = !1; 
        if (location.search.indexOf("?") == 0 && location.search.indexOf("=") > 1) { 
            let arrSource = unescape(location.search).substring(1, location.search.length).split("&"), i = 0; 
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
        } 
        return paramValue == "" && (paramValue = null), paramValue 
    }

    let token = getUrlParam('token');
    console.log(token)
    alert(token);


    let info = {}

    getToken.addEventListener('click', function () {
      console.log('==abc==html==token====',token);
      alert(token);

      axios.get("http://192.168.31.73:8000/pay/").then(res => {
      // axios.get("http://117.48.207.24:8000/pay/").then(res => {
        info = {
          appId: res.data.appId,
          timeStamp: res.data.timeStamp + '',
          nonceStr: res.data.nonceStr,
          package: res.data.package,
          signType: res.data.signType,
          paySign: res.data.paySign
        };

        WeixinJSBridge.invoke('getBrandWCPayRequest', info, function (res) {
          alert(res.err_code+ ' ' + res.err_desc + ' ' + res.err_msg);
          console.log(res.err_code+ ' ' + res.err_desc + ' ' + res.err_msg)
          if (res.err_msg == "get_brand_wcpay_request:ok") {
            alert("支付成功");
            window.location.href = '/App/Member/MyOrder';
          }
          else if (res.err_msg == "get_brand_wcpay_request:cancel") {
            alert("您已取消支付");
            window.location.href = '/App/Member/MyOrder';
          }
          else if (res.err_msg == "get_brand_wcpay_request:fail") {

            alert("支付失败，请稍后再试");
          }
          else {
            alert(JSON.stringify(res));
          }
        });
        
        console.log(info);
        
      });
    })

    //当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      //公众号支付
      payTest.addEventListener('click', function (e) {
        console.log(info);
        
        WeixinJSBridge.invoke('getBrandWCPayRequest', info, function (res) {
          if (res.err_msg == "get_brand_wcpay_request:ok") {
            alert("支付成功");
            window.location.href = '/App/Member/MyOrder';
          }
          else if (res.err_msg == "get_brand_wcpay_request:cancel") {
            alert("您已取消支付");
            window.location.href = '/App/Member/MyOrder';
          }
          else if (res.err_msg == "get_brand_wcpay_request:fail") {

            alert("支付失败，请稍后再试");
          }
          else {
            alert(JSON.stringify(res));
          }
        });

      });

      WeixinJSBridge.log('yo~ ready.');

    }, false)

  </script>
</body>

</html>