<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>

    <style>
     html{
         background: green;
     }
    .block{
        border:1px solid red;
        margin: 40px 0;
        background: white;
    }
    .key{
        background: red;
    }
    .hidkey{
        display: inline-block;
        height:40px;
        overflow: hidden;

    }

</style>
</head>
<body>
<div id="app">

    <div v-for="item in res">
        <div class="block">
            <div v-for="(val,key)  in item">
                <template v-if="key!=='info'">
                    <div>
                        <span class="key">{{key}}</span>:<span>{{val}}</span>    
                    </div>
                </template>
                
                <template v-if="key=='info'" v-for="(infoItem,infoItemKey) in val">
                    <div >
                        <span class="key">{{infoItemKey}}</span>:<span>{{infoItem}}</span>  
                    </div>
                </template>
            </div>
        </div>
    </div>

</div>


<script>

new Vue({
    el:'#app',
    data:{
        res:''
    },
    created(){
        axios.get('http://47.106.105.213:8000/index/record/error')
        .then(res=>{
            // this.res = res.data.message;
            this.res = res.data.message.map(ele=>{
                // debugger
                ele = {
                    ...ele,
                }
                ele.info = JSON.parse(ele.info)
                
                // debugger
                // delete ele.info
                return ele
                // debugger
            })
            // let test = JSON.parse(this.res[11].info)
            // debugger
            
        })

    },
})


</script>

    <script>
    </script>

</body>
</html>