
/* CSS Document */

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{ margin:0; padding:0; }
em { font-style:normal;display:inline-block }
li { list-style:none; }
a { text-decoration:none;color:#000000; }
img { border:none; vertical-align:top; display:inline-block;}
table { border-collapse:collapse; }
input,textarea { outline:none; }
em,i{font-style: normal;}
textarea { resize:none; overflow:auto; }
* /*禁用iPhone中Safari的字号自动调整 */
html { -webkit-text-size-adjust: none; }
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-size:14px; font-family:'SourceHanSansCN-Normal','microsoft yahei','sans-serif','Tahoma','Open Sans','Helvetica Neue','Arial','Hiragino Sans GB','WenQuanYi Micro Hei'; }
/* end reset */
*{outline:none}
button,input[type=submit],input[type=button]{border: 0;background-color: #fff;padding:0;margin:0;outline:none;-webkit-appearance:none}
input[type=search]::-webkit-search-cancel-button{
    display: none;
    -webkit-appearance: none;
    -webkit-overflow-scrolling:touch
}






/*public*/
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
.w{
    width:100%;
}
.h{
    height:100%;
}
.vm{
    vertical-align: middle;
}
.vt{
    vertical-align: top;
}
.bs_bb{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.img-respon{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%
}
.pos_res{
    position:relative
}
.tx-c{
    text-align:center
}
.tx-l{
    text-align:left !important
}
.tx-r{
    text-align:right !important
}
.signalLine{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;/*强制文字在一行显示 --会导致父级元素的宽度增加*/
}
.mulLine2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main_color_09a2a3{
    color:#09a2a3
}
.main_bgcolor_09a2a3{
    background-color:#09a2a3
}
.main_color_ffffff{
    color:#ffffff
}
.main_bgcolor_ffffff{
    background-color:#ffffff
}
.main_color_000000{
    color:#000000
}
.main_bgcolor_000000{
    background-color:#000000
}
.main_bgcolor_f3f3f3{
    background-color:#f3f3f3
}
.main_color_666666{
    color:#666666
}
.main_color_333333{
    color:#333333
}
.main_bgcolor_cccccc{
    background-color:#cccccc
}
.main_color_EE0000{
    color:#EE0000
}
.main_bgcolor_ff8800{
    background-color:#ff8800
}
.dis_none{
    display:none
}
/*弹性盒子兼容*/
.dis_box{
    display:box;
    display:-webkit-box;  /*iOS6-, Safari 3.1-6 */
}
.bo_h{
    -webkit-box-orient:horizontal
}
.bo_v{
    -webkit-box-orient:vertical
}
.bo_i{
    -webkit-box-orient:inherit
}
.bo_p_s{
    -webkit-box-pack:start
}
.bo_p_c{
    -webkit-box-pack:center
}
.bo_p_e{
    -webkit-box-pack:end
}
.bo_p_j{
    -webkit-box-pack:justify
}
.box_a_s{
    -webkit-box-align:start
}
.box_a_e{
    -webkit-box-align:end
}
.box_a_st{
    -webkit-box-align:stretch
}
.box_a_c{

    -webkit-box-align:center
}
.box_a_b{
    -webkit-box-align:baseline
}
/*弹性盒子兼容end*/
.dis_bl{
    display:block
}
.dis_ib{
    display:inline-block
}
.fC1 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.fC2 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.fz_22{
    font-size:0.22rem
}
.fz_20{
    font-size:0.2rem
}
.fz_24{
    font-size:0.24rem
}
.fz_28{
    font-size: 0.28rem;
}
.fz_30{
    font-size:0.3rem
}
.fz_36{
    font-size:0.36rem
}
.wrap_close{
    /* background:url("../image/wrapClose.png") no-repeat center; */
    background-size:100% 100%;
    margin-top:0.49rem
}
.fw_bold{
    font-weight:bold
}
.mar_10{
    margin-right:0.1rem
}
.mar_r_20{
    margin-right:0.2rem
}
.mar_l_20{
    margin-left:0.2rem
}
.mar_t_20{
    margin-top:0.2rem
}
.mar_b_20{
    margin-bottom:0.2rem
}

.p_r_20{
    padding-right:0.2rem
}
.p_l_20{
    padding-left:0.2rem
}
.p_t_20{
    padding-top:0.2rem
}
.p_b_20{
    padding-bottom:0.2rem
}
.w_50{
    width:50%
}
.pointRight{
    width:0.16rem;
    height:0.29rem;
}
.btn_110{
    width:93%;
    height:1.1rem;
    line-height:1.1rem;
    text-align:center;
    background-color:#09a2a3;
    color:#ffffff;
    margin:0.3rem auto 0;
    display:block;
    border-radius:0.06rem;
    font-size:0.3rem
}
input[type=text],input[type=number],input[type=tel]{
    font-size:0.28rem
}
.bor_r_50{
    border-radius:50%
}
.ol_y_s{
    overflow-y:scroll
}
/*分享*/
.shareGuide{
    position:fixed;
    z-index:99999999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5)
}

/*bz新弹窗2018-11-20*/
.tips-to-wrap{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: -webkit-box;
    -webkit-box-pack:justify;
    -webkit-box-align:center;
    -webkit-box-pack:center;
     -webkit-box-orient:vertical;
    z-index:10000000000000

}
.tips-to-wrap>div{
    width:5.58rem;
    height:5.02rem;
    box-sizing:border-box;
    padding:0.46rem 0.44rem;
    background-color:#edfeff;
    border-radius:0.8rem;
    /*display: -webkit-box;
    -webkit-box-pack:justify;
    -webkit-box-align:center;
    -webkit-box-pack:justify;
    -webkit-box-orient:vertical*/
}
.tips-to-wrap>div a{
    display:block;
    width:100%;
    height:0.98rem;
    line-height:0.98rem;
    background-color:#499fa2;
    color:#ffffff;
    border-radius:0.8rem;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center
}
.tips-to-wrap p{
    height:33.33%
}
.tips-to-close{
    display:block;
    width:0.64rem;
    height:0.64rem;
    /* background:url("../image/icon/icon-del.png") no-repeat center; */
    background-size:100% 100%;
    margin: 0 -5rem 0.4rem 0;
}

/*.pcBtnFocus{
    position: fixed;
    bottom: 1.5rem;
    padding: 0.1rem;
       box-shadow: 2px 2px 2px #cccccc;
    border:2px solid #ffffff;
    z-index: 1;
    right:0;
    border-top-left-radius:0.8rem;
    border-bottom-left-radius:0.8rem;
    z-index:80;
    background-color: #e5feff;
    color:#499fa2
}
.pcBtnFocus img{
    width:0.48rem;
    height:0.48rem;
    border-radius:50%
}*/
/*.ewm{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    z-index:9999999999;
}*/
.margin_auto{
    margin: 0 auto
}