[v-cloak] {
  display: none; }

.weui-cell {
  font-size: 0.32rem !important; }

.u-reset.weui-btn {
  background-color: #08a3a2; }
  .u-reset.weui-btn:active {
    background-color: #078e8d; }

.u-reset.weui-label {
  width: 2.4rem; }

.weui-cell .weui-cell__ft {
  color: black; }
