
@font-face {  
  font-family: 'SSZH';  
  src: url('SSZH.ttf');  
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'hksn';  
  src: url('hksn.TTF');  
  font-weight: normal;  
  font-style: normal;  
}