@import '../public';


// com-head的样式 s
.main-header{
    margin-top: 8px;
    padding-bottom: 15px;
    border-bottom: 10px solid $bgColor;

    .line-1{
        justify-content: center;
    }
    .icon{
        width: calRem(40);
        height: calRem(40);
        margin-right: 10px;
        background-color: transparent;
    }
    .main{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        line-height: normal;
        .name{
            padding: calRem(2) 0;
            font-size: calRem(20);
            line-height: calRem(20);
            font-weight: bold;
        }
    }
    .tag{
        margin-top: calRem(5);
        font-size: calRem(10);
        line-height: calRem(13);
        justify-content: space-between;
        
        .tag-group{
            display: flex;
            
            [class|=tag]{
            
                margin-right: 10px;
                // border:1px solid black;
                border-radius: 2px;
                padding: 1px 2px;
                justify-content: space-between;
            }
        } 
        .tag-state{
            $tag-state:#07b4fc;
            color:$tag-state;
            border:1px solid $tag-state;
        }
        .tag-oldname{
            $tag-oldname:#fe6e00;
            color:$tag-oldname;
            border:1px solid $tag-oldname;
        }
        .tag-new{
            $tag-new:#0aa4a3;
            color:$tag-new;
            border:1px solid $tag-new;
        }
        .view{
            // align-self: flex-end;
            $view-color:#666666;
            color:$view-color
        }
    }



    .line-2{ 
       padding: 14px 0 0 10px;
       display: flex;
       align-items: center;
       box-sizing: border-box;
       width: 100%;
       justify-content: center;
    }
    .info{
        width: 87%;
        display: inline-flex;
        justify-content: left;
        flex-wrap: wrap;
        position: relative;
        font-size: calRem(12);
        
        [class|=info]{
            @media screen and (max-width: 370px)  {
                margin-right: 3px;
        
            }
            margin-right: 24px;
            // text-align: center;
        }

        &::after{
            content: '';
            position: absolute;
            border-right: 1px solid #cccccc;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
    
    .phoneBlock{
        
        margin: 0 14px;
        float: right;
        width: calRem(30);
        height: calRem(30);
        line-height: calRem(30);
        text-align: center;
        border-radius: 50%;
        background-color: #dd0201;
        .phone{
            color:white;
            font-size: calRem(18);
        }
    }
}
// com-head的样式 e

.flex-layout{
    display: flex;
    justify-content: space-around; //
    flex-wrap: nowrap;  //不换行
    align-items: center; //垂直居中
    text-align: center;
    // overflow: hidden;
}
.g-pop{
    // background-color: black;
    // opacity: .8;
    transition: all .5s;
    // position: fixed;
    position: absolute;
    top: -200%;
    bottom: 200%;
    left: 0;
    right: 0;
    z-index:999;
    // z-index: 5;
    display: flex;
    color:black;
    
    &.g-pop-show{
        top: 0;
        bottom: 0;
    }

    .u-mask{
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .m-bannerBg{
        // position: absolute;
        // left: 50%;
        // top: 50%;
        width: 96%;
        height: 90%;
        margin:50px auto 0px;;
        position: relative;
        // z-index: initial;
        // transform: translate(-50%,-46%);
        background-color: white;
        border-radius: $bannaBgRadius;
        .u-close{
            position: absolute;
            right: 0;
            top: -15px;
            transform: translateY(-100%);
            width: 30px;
            height: 30px;
            .icon{
                width: 100%;
            }
        }
    }
        .u-iconBlock{
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 80px;
            background: white;
            border-radius: 50%;
            z-index:200;
        }
        .iconbg{
            // position: absolute;
            @include absCenter;
            background-color: $themeColor;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            .icon{
                @include absCenter;
                width: 42px;
                height: auto;
            }
        }
        
        // 正常形态下
        .m-content{
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 50px;
            background-color: white;
            overflow-y: scroll;
            z-index: 11;
            
        }
        .con-title{
            margin: 12px 0;
            text-align: center;
            font-size: calRem(18);
            font-weight: bold;
        }
        .con-content{
            padding: 0 14px;
            // margin: 0 -14px 0px 14px;

        }
        .con-group{
            margin-bottom: calRem(16);
            &.con-single{
                box-sizing: border-box;
                width: 100%;
                border: none;
                line-height: calRem(45);
                padding: 0 calRem(10);
                font-size: calRem(13);
                letter-spacing: calRem(1.5);
                color: #333333;
                background-color: $bgColor;
            }
            
            .con-name{
                font-size: calRem(15);
                line-height: calRem(26);
                letter-spacing: calRem(1.8);
                color: #000000;
                font-weight:bold
            }
            .con-val{
                box-sizing: border-box;
                width: 100%;
                border: none;
                line-height: calRem(45);
                padding: 0 calRem(10);
                font-size: calRem(13);
                letter-spacing: calRem(1.5);
                color: #333333;
                background-color: $bgColor;
                
                &::-webkit-input-placeholder{
                    color: #999999;
                }
                &:-moz-placeholder{
                    color: #999999;
                }
                &::-moz-placeholder{
                    color: #999999;
                }
                &:-ms-input-placeholder{
                    color: #999999;
                }

            }
        }

        .m-footer{
            position: absolute;
            bottom: 0;
            background-color: $bgColor;
            width: 100%;
            height: 50px;
            border:0px solid $bgColor;
            border-bottom-left-radius: $bannaBgRadius;
            border-bottom-right-radius: $bannaBgRadius;
        }
        .close{
            display: none;
        }
        // 全屏模式下
        &.fullscreen{
            .m-content{
                position: fixed;
                top: 0;
                bottom: 0;
                .content{
                    position: absolute;
                    top: 0;
                    bottom: calRem(30);
                    left: 0;
                    right: 0;
                    overflow-y: scroll;
                }
                .close{
                    display: block;
                    background: $themeColor;
                    color: white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: calRem(44);
                    text-align: center;
                    line-height: calRem(44);
                    font-size: calRem(18);
                    z-index:14;
                }
            }
        }
        
}


.g-pop-trans{
    // background-color: black;
    // opacity: .8;
    transition: all .5s;
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    color:black;

    &.g-pop-show{
        top: 0;
    }

    .u-mask{
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .m-bannerBg{
        // position: absolute;
        // left: 50%;
        // top: 50%;
        width: 96%;
        height: 90%;
        margin:50px auto 0px;;
        position: relative;
        // z-index: initial;
        // transform: translate(-50%,-46%);
        background-color: white;
        border-radius: $bannaBgRadius;
        .u-close{
            position: absolute;
            right: 0;
            top: -15px;
            transform: translateY(-100%);
            width: 30px;
            height: 30px;
            .icon{
                width: 100%;
            }
        }
    }
        // .u-iconBlock{
        //     position: absolute;
        //     top: -40px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     width: 80px;
        //     height: 80px;
        //     background: white;
        //     border-radius: 50%;
        // }
        .iconbg{
            // position: absolute;
            @include absCenter;
            background-color: $themeColor;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            .icon{
                @include absCenter;
                width: 42px;
                height: auto;
            }
        }
        
        
        .m-content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            background-color: #00000050;
            overflow-y: scroll;
            z-index: 11;
        }
        .m-footer{
            position: absolute;
            bottom: 0;
            background-color: $bgColor;
            width: 100%;
            height: 50px;
            border:0px solid $bgColor;
            border-bottom-left-radius: $bannaBgRadius;
            border-bottom-right-radius: $bannaBgRadius;
        }
        .close{
            display: none;
        }
        &.fullscreen{
            .m-content{
                position: fixed;
                top: 0;
                bottom: 0;
                .content{
                    position: absolute;
                    top: 0;
                    bottom: calRem(30);
                    left: 0;
                    right: 0;
                    overflow-y: scroll;
                }
                .close{
                    display: block;
                    background: $themeColor;
                    color: white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: calRem(44);
                    text-align: center;
                    line-height: calRem(44);
                    font-size: calRem(18);
                    z-index:14;
                }
            }
        }
        
}

.com-flex{
    // justify-content: space-around;
    @include flexLayout;
    &.fill{
        width: 100%;
        height: 100%;
    }

    .m-item{
        @include flexLayout;
        // justify-content: center;
        display: flex;
        flex:1;
        justify-content: center;
        position: relative;
        font-size: calRem(14);
    }
    .m-itemcenter{
        &::before{
            content: "";
            position: absolute;
            left: 0px;
            top: 0;
            bottom: 0;
            // width: 1px;
            border-left: 1px solid #cccccc;
        }
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            // width: 1px;
            border-left: 1px solid #cccccc;
        }
    }
    .item-icon-block{
        font-size: calRem(16);
        // width: 18px;
        // height: 100%;
        line-height: 1;
        margin-right: 8px;
    }
    .item-icon{
        width: 100%;
    }
}

.com-info-layout{
    padding: 16px 10px 0 10px;
    text-align: left;
    
    .info-title{
        font-size:calRem(16);
        line-height: calRem(16);
        font-weight: 700;
    }
    .item-single{
        width: 100%;
        margin-bottom: 15px;
    }
    .info-list{
        background-color: $bgColor;
        margin-top: 14px;
        padding: 15px 10px 1px;
    }
    .info-item{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calRem(12);
    }
    
    .item-name{
        width: calRem(116);
        color: #666666;
    }
    .item-value{
        flex: 1;
        &.item-placeholder::after{
            content:''
        }
    }
}

.footbtn{
    .radiusBtn{
        color: white;
        background-color: $themeColor;
        // padding: calRem(5) calRem(20);
        border-radius: calRem(17.5);
        width: calRem(90);
        height: calRem(25);
        line-height: calRem(25)
    }
}

// input框增删组件

.com-add-del{
    font-size: calRem(15);

    .edit-list{

    }

        .edit-item{
            @include flexSpaceBetween;
            
            padding: calRem(15) calRem(10);
            margin-bottom: calRem(10);

            background-color: $bgColor;


        }

            .edit{
                flex:1;

                margin-left: calRem(10);

                border:none;

                background-color: $bgColor;

                color:#999999;
            }

    .add-item{
        @extend .edit-item;

        background-color: unset;

    }

        .add-text{
            flex:1;
            
            margin-left: calRem(10);

            color:$themeColor;
            text-align: left;
        }

}


.tips-pop{
    // background-color: black;
    // opacity: .8;
    transition: all .5s;
    
    display: flex;
    position: fixed;
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 5;
    

    color:black;
    
    &.tips-show{
        top: 0;
        bottom: 0;
    }

    .u-mask{
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .m-bannerBg{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 96%;
        
        // min-height: 20%;
        // max-height: 60%;
        transform: translate(-50%,-50%);
        // height: 40%;
        // margin:100% auto 0px;
        padding: calRem(36) calRem(14);
        box-sizing: border-box;

        // position: relative;
        // z-index: initial;
        // transform: translate(-50%,-46%);
        background-color: white;
        border-radius: $bannaBgRadius;
    }
        .u-close{
            position: absolute;
            right: 0;
            top: -15px;
            transform: translateY(-100%);
            width: 30px;
            height: 30px;
            .icon{
                width: 100%;
            }
        }
    
    .m-content{
        // position: absolute;
        // top: 10%;
        // left: 10%;
        // right: 10%;
        // bottom: 20%;
        margin-bottom: calRem(44);
        max-height: calRem(200);
        overflow-y: scroll;
        word-wrap: break-word;
        font-size:calRem(18);
    }

    .u-reset.weui-btn{
        // position: absolute;
        // left: 10%;
        // right: 10%;
        // bottom: 5%;
        // max-height: 20%;
    }
        
}