@import '../public';
@import '../icon';
@import './resetUi';
@import './components';
@import './insidePage_gs';

/* 
className perfix
gs- 工商信息 
gd- 股东信息
zr- 主要人员信息
xg- 行政许可（工商局）信息
xx- 行政许可（信用中国）信息
xc- 行政处罚信息
sw- 税务信用
yc- 列入经营异常名录信息
bl- 黑名单 
*/

html{
    // font-size: 50px;
    background-color:$bgColor;
    // background: black;
}

body{
    position: relative;
    width: 100%;
}




