// @font-face {
//   font-family: 'iconfont';  /* project id 1085680 */
//   src: url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.eot');
//   src: url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1085680_ddzr6fipg0w.svg#iconfont') format('svg');
// }

.iconfont-mask{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@mixin iconBg {
  background-color:white;
  border-radius: 50%;
  
}

.del-icon{
  @include iconBg;

  color: #ff3130;
  font-size: calRem(15);

}

.add-icon{
  @include iconBg;

  color:$themeColor;
  font-size: calRem(15);
}