@import './public';

[v-cloak]{
    display: none;
}
// 列表弹窗 自画像 s
.info-poplist{
    display: flex;
    position: fixed;
    top: 8%;
    bottom: 40px;
    // right: -#{calRem(230)};
    right: -100%;
    align-items: flex-start;
    font-size: calRem(16);
    z-index: 2;
    transition: all .4s ;
    &.pop-show{
        right: 0;
    }
    // 左侧弹窗按钮 s
    // .pop-btn{
    //     flex:1;
    //     color: white;
    //     width: calRem(30);
    //     padding: calRem(4) calRem(10) 0;
    //     box-sizing: border-box;
    //     border-top-left-radius: 4px;
    //     border-bottom-left-radius: 4px;
    //     text-align: center;
    //     font-size: calRem(10);
    //     background-color: #ff8800;
    // }
    // 左侧弹窗箭头的图标
    // .arrows-icon{
    //     text-align: center; 
    // }
    // 左侧弹窗按钮 e

    .info-mask{
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    // 右侧弹窗内容 s
    .pop-content{
        width: calRem(230);
        height: 100%;
        color: white;
        overflow: scroll;
        // background-color: #00000096;
        // position: relative;
    }
    // 右侧弹窗内容 e


    // 内容主标题 s
    .content-title{
        position: absolute;
        top: 0;
        // left: calRem(30);
        left:0;
        right: 0;
        height: calRem(50);
        z-index: 3;

        // display: flex;
        // align-items: center;
        // justify-content: center;
        line-height: calRem(50);
        letter-spacing: 3px;
        // padding: calRem(17) calRem(60);
        text-align: center;
        color: #ff8800;
        background-color: black;
        font-weight: bold;
        font-size: calRem(14);
    }
    .u-close{
        // flex: 1;
        position: absolute;
        right: calRem(14);
        top: 50%;
        transform: translateY(-50%);
        width: calRem(18);
        height: calRem(18);
    }
    // 内容主标题 e

    // 列表内容s
    .content-list{
        overflow: scroll;
        // margin-top: calRem();
        padding: calRem(57) 0 calRem(25) calRem(8);


    // 下箭头 s
    .down-arrow{
        position: absolute;
        bottom: 0;
        // left: calRem(30);
        left: 0;
        right: 0;
        z-index: 3;
        text-align: center;
        background: black;
        .arrow-block{
            display: inline-block;
            transform: rotate(-90deg);
            .iconfont-mask{
                font-size: calRem(18);
                line-height: 1;
            }
        }
    }
    // 下箭头 e

    }
    // 列表内容 e

    // 列表副标题
    .list-subtitle{
        padding-bottom: calRem(10);
    }
    
    // weui 重置 s
    .weui-cell.weui-cell_access{
        padding: calRem(10) 10px calRem(10) 0;
        font-size: calRem(11) !important;
        &:before{
            left:calRem(18);
        }
        &:active{
            background-color: rgba(0, 0, 0, 0.54);
        }
        .cell-imgblock{
            width: calRem(16);
            height: calRem(16);
            margin-right: calRem(8);
            .icon{
                width: 100%;
                height: 100%;
                // margin-right:5px;
                display: block;
            }
        }
    }
    // weui 重置 e

}


// 列表内弹窗 gd-
.content-list{

    .gd-content{
        background: $bgColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item-single{
            &.sp{
                color: #65c4f9;
                font-size: calRem(14);
            }
        }
    }

}

// 企业认证说明弹窗
.cert-content{
    .cert-tips{
        color: #fe9101;
        font-weight: bold;
        font-size: calRem(16);
    }
    .cert-sub{
        margin-top: calRem(16);
        color: #333333;
        font-size: calRem(16);
        line-height: 29px;
        letter-spacing: 0.6px;
    }
    .cert-des{
        font-size: calRem(13);
        line-height: calRem(32);
        letter-spacing: 0.8px;
        color: #666666;
    }
}

// 企业认证填充数据页面
.certing-content{
    .con-group{
        .cost{
            margin-left: calRem(10);
            font-size: calRem(15);
            letter-spacing: 2px;
            color: #f60000;
        }
        .des{
            font-size: calRem(12);
            letter-spacing: 3px;
            color: #333333;
        }
    }
}


.sms-push{

    .sms-companylist{
        .list{  
            font-size: calRem(13);
            line-height: calRem(30);
            letter-spacing: 1px;
            color: #333333;
            .list-item{
                
            }
        }
        .count{
            font-size: 13px;
            letter-spacing: 1px;
            color: #09a2a3;
        }

    }
    .sms-choose{
        // margin: calRem(1);
        padding:  calRem(10);
        display: flex;
        justify-content: space-between;
        // background-color: $bgColor;
        .choose{
            font-size: calRem(15);
            line-height: calRem(26);
            letter-spacing: 2px;
            color: #000000;
            float: left;
        }
        .template{
            font-size: calRem(13);
            line-height: calRem(26);
            letter-spacing: 2px;
            color: #000000;
        }
    }

    .sms-textarea{
        // width: 100%;
        height: calRem(100);
        // padding: calRem(10);
        // border: none;
        // background-color: $bgColor;
        
    }
    .sms-phonearea{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sms-phonedes{
        flex: 1;
    }
    .sms-phone{
        flex: 1;
        
    }

}

.summary-data{
    
    .summary-title{
        font-size: calRem(15);
        font-weight: bold;
        line-height: calRem(26);
        letter-spacing: calRem(2);
        margin-bottom: calRem(10);
    }
    .summary-list{
        width: 100%;
        border: 1px solid transparent;
        background-color: #f3f3f3;
    }
    .summary-group{
        display: flex;
        justify-content: left;
        align-items: center;
        margin: calRem(12);
        &:nth-child(1){
            .summary-icon-bg{
                background-color: #29b3d6;
            }
        }
        &:nth-child(2){
            .summary-icon-bg{
                background-color: #7bc508;
            }
        }
        &:nth-child(3){
            .summary-icon-bg{
                background-color: #ff8a00;
            }
        }
    }


    .summary-icon-bg{
        margin-right: calRem(8);
        width: calRem(25);
        height: calRem(25);
        border-radius: 50%;
        text-align: center;
        // display: flex;
    }
    .summary-icon{
        // margin: auto;
        color: white;
        font-size: calRem(16);
        line-height: calRem(25);
    }
    .summary-item{
        flex: 1;
    }

    .summary-item-line{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calRem(20);
    }
        .summary-des{
            // flex: 1;
            width: calRem(175);
            font-size: calRem(12);
            // line-height: calRem(18);
            letter-spacing: calRem(1);
            color: #333333;
        }
        .summary-number{
            flex: 1;
            font-size: calRem(12);
            letter-spacing: calRem(1);
            color: #000000;
        }
        .summary-money{
            // font-size: calRem(12);
            color: #e60101;
        }
}

.record-detail-content{
    margin-top: calRem(10);
    
    .record-summary{
        @include flexLayout;
        background-color: $bgColor;
        padding: calRem(4);
    }

    .record-detail-list{
        background-color: $bgColor;
        padding: calRem(10);

    }

    .record-item{
        display: flex;
        align-items: baseline;
        margin: calRem(10) 0;
        
    }
    
    .record-des{
        margin-right: calRem(10);

    }

    .record-val{
        flex:1;

    }

    .record-spend{
        color: #ea0909;

    }

    .record-check{
        color: #009ee0;

    }
    
    .record-handlers{
        align-items: center;

    }

    .record-img{
        width: calRem(30);
        height: calRem(30);
        display: block;
        line-height: calRem(30);

    }
    .record-summary-item{
        transition: all .4s;
    }
    .record-show{
        transform: rotate(180deg);
    }
    // .record-detail-item-enter{
    //     transition: all .4s;
    // }
    .record-detail-item-enter-active,.record-detail-item-leave-active{
        transition: all .5s;
    }
    .record-detail-item-enter,.record-detail-item-leave-to{
        opacity: 0;
        // height: 0%;
        // transform: rotateX(90deg);
    }
}

.platform-item{
    font-size: calRem(12);
    margin-bottom: calRem(10); 
    

    .item-title{
        @include flexSpaceBetween;

        padding:calRem(16) calRem(14);
        background-color: $bgColor;
        color: $desColor;
        position: relative;
        
        &.unread-point::before{
            content: '';
            position: absolute;
            left: calRem(6);
            top: 50%;
            // overflow: visible;
            // z-index: 100;
            transform: translateY(-50%);
            width: calRem(6);
            height: calRem(6);
            border-radius: 50%;
            background-color:hsl(0, 89%, 45%);
        }
    }

    .text{
        @include signalLine;

        font-size: inherit;
        // width: calRem(180);
        flex:1;

    }
    .date{
        width: calRem(90);
        // margin-left: calRem(14);
        font-size: inherit;
        
        // flex:1;

    }

    .unread{
        color:#007eff;
        
    }

    .arrow{
        width: calRem(30);
        font-size: inherit;
        transition: all .4s;
        // flex:1;
        
    }

    .platform-info-show{
        transform: rotate(180deg);
    }

    .item-content{
        padding: calRem(10) calRem(14);
    }

    .platform-info-enter-active,.platform-info-leave-active{
        transition: all .5s;
    }
    .platform-info-enter,.platform-info-leave-to{
        opacity: 0;
        // height: 0%;
        // transform: rotateX(90deg);
    }
}


.lian-search{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    background-color: white;

    text-align: center;

    .search-input{
        display: flex;
        // padding: calRem(5) calRem(10);
        align-items: center;
        // border: 1px solid #000000;
    }
    
    .input{
        flex: 1;

        padding: calRem(10) calRem(60);
        text-align: center;
        background-color: $bgColor;
        // border:none;
        color: #bfbfbf;
        font-size: calRem(15);
        box-sizing: border-box;

        &:focus{
            &::-webkit-input-placeholder{
                color: transparent;
            }
            &:-moz-placeholder{
                color: transparent;
            }
            &::-moz-placeholder{
                color: transparent;
            }
            &:-ms-input-placeholder{
                color: transparent;
            }

            color: #000000;
        }
    }

    .cancel{
        width: calRem(40);
        text-align: center;
        color: $themeColor;
        font-size: calRem(12);

    }
}