$bgColor : #f3f3f3; //背景底层颜色
$themeColor: #08a3a2; //主题颜色
$btnActive: #078e8d; //按钮被激活的颜色
$desColor:#666666; //题目文字颜色
$contentColor:#333333; //内容文字颜色

$opacity: .8; //一般用到的透明度
$bannaBgRadius: 12px; // m-bannaBg 的圆角
@function calRem($x){
    // docEl.style.fontSize = 100 * (clientWidth / 750)
    // 设计稿 最大750px宽 换算设备像素比 375px font-size:50px
    $rem : ($x * (1/50))+rem;
    @return $rem;
}

@mixin ellipsis{

    /* 用于隐藏文字溢出*/
  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  
}

@mixin wrap {
    
}

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

@mixin flexLayout{
    display: flex;
    justify-content: space-around; //
    flex-wrap: nowrap;  //不换行
    align-items: center; //垂直居中
    text-align: center;
    // overflow: hidden;
}

@mixin absCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin signalLine{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;/*强制文字在一行显示 --会导致父级元素的宽度增加*/
}

@mixin clearFix{ 
    content:'';
    display:block;
    clear:both; 
}