// this module will reset ui css
// tips .u-reset 用于增加权重重改css
@import './public';
.weui-cell{
    font-size: calRem(16) !important;
}
.u-reset.weui-btn{
    background-color: $themeColor;
    border: none;
    &:active{
        background-color: $btnActive;
    }
    
}
.u-reset.weui-label{
    width: calRem(120);
}
.weui-cell{
    .weui-cell__ft{
        color: black;
    }
}
