<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id='pay' onclick="pay()">支付</button>

    <script>
        function pay(data){
            
            if(window.WeixinJSBridge){
                console.log(alert)
                alert('ok')
            }else{
                alert('no')
            }
            // WeixinJSBridge.invoke(
            // 'getBrandWCPayRequest', {
            //     "appId": data.appId,     //公众号名称，由商户传入     
            //     "timeStamp": data.timeStamp,         //时间戳，自1970年以来的秒数     
            //     "nonceStr": data.nonceStr, //随机串     
            //     "package": data.package, //订单id,这是微信下单微信生成的订单id不是你自己的
            //     "signType":"MD5",         //微信签名方式：     
            //     "paySign": data.paySign //微信签名 
            // }, function(res){
            //     if(res.err_msg == "get_brand_wcpay_request:ok" ) {
            //         window.location.href = '/';
            //     }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
            // });
        }

        // document.getElementById('pay')
        // .onclick=function(){
        //     if(WeixinJSBridge){
        //         alert('ok')
        //     }else{
        //         alert('no')
        //     }
        // }

    </script>
</body>
</html>