<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <Form ref="loginForm" :model="form" :rules="rules">
    <FormItem prop="userName">
      <Input v-model="form.userName" placeholder="请输入用户名">
      <span slot="prepend">
        <Icon :size="16" type="person"></Icon>
      </span>
      </Input>
    </FormItem>
    <FormItem prop="password">
      <Input type="password" v-model="form.password" placeholder="请输入密码">
      <span slot="prepend">
        <Icon :size="14" type="locked"></Icon>
      </span>
      </Input>
    </FormItem>
    <FormItem prop="valiCode" v-show="this.count">
      <Input v-model="form.valiCode" placeholder="请输入验证码">
      <span slot="prepend">
        <Icon :size="14" type="ios-analytics"></Icon>
      </span>
      </Input>
      <div class="canvas" @click="getImgYanzheng">
        <canvas id="canvas"></canvas>
      </div>
    </FormItem>
    <FormItem>
      <Button @click="handleSubmit" type="primary" long>登录</Button>
    </FormItem>
  </Form>
</body>

</html>