
$bgColor : #f3f3f3; //背景底层颜色
$themeColor: #08a3a2; //主题颜色
$btnActive: #078e8d; //按钮被激活的颜色
$desColor:#666666; //题目文字颜色
$contentColor:#333333; //内容文字颜色
$tabbarHeight: 0.98rem; //底部按钮组高度 


$opacity: .8; //一般用到的透明度
$bannaBgRadius: 12px; // m-bannaBg 的圆角
@function calRem($x){
    // docEl.style.fontSize = 100 * (clientWidth / 750)
    // 设计稿 最大750px宽 换算设备像素比 375px font-size:50px
    $rem : ($x * (1/50))+rem;
    @return $rem;
}

@mixin ellipsis{

    /* 用于隐藏文字溢出*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  
}

@mixin wrap {
    
}

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

@mixin flexLayout{
    display: flex;
    justify-content: space-around; //
    flex-wrap: nowrap;  //不换行
    align-items: center; //垂直居中
    text-align: center;
    // overflow: hidden;
}

@mixin absCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin signalLine{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;/*强制文字在一行显示 --会导致父级元素的宽度增加*/
}

@mixin clearFix{ 
    content:'';
    display:block;
    clear:both; 
}


//========= 移动端1px  START========
.border_1px:before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
  }
  @media only screen and (-webkit-min-device-pixel-ratio:2){
      .border_1px:before{
          transform: scaleY(0.5);
      }
  }
  @media only screen and (-webkit-min-device-pixel-ratio:3){
      .border_1px:before{
          transform: scaleY(0.33);
      }
  }
//==============移动端1px END===============

// 双边圆弧按钮
@mixin circularBeadBtn($height, $width:false , $btColor:false , $fontColor:false ){
    height:$height;
    border-radius: $height / 2;
    line-height: $height;
    text-align: center;
    @if $width {
        width:$width;
    }
    @else{
        width:100%;
    }

    @if $btColor {
        background: $btColor;
    }
    @else{
        background: $themeColor;
    }

    @if $fontColor {
        color: $fontColor;
    }
    @else{
        color: white;
    }
}

.singleLine{
    @include signalLine;
}

@mixin zoom-in-out($scaleStart:1,$scaleEnd:1.5,$duration:.6s){

    @keyframes scaleClick {
        from {
            transform: scale($scaleStart);
        }
        to {
            transform: scale($scaleEnd);
        }
    }
    animation-name: scaleClick; 
    animation-duration: $duration; //一个动画持续时间
    animation-timing-function: linear; //运行方式
    animation-delay:0; //延迟秒数
    animation-iteration-count:infinite; //持续多少次 infinite 无限
    animation-direction:alternate; // alternate奇数次正常播 偶数次逆向播
  
}
