/*����Ч��*/
.v-enter, .v-leave-to {
    opacity: 0;
}

.v-enter-active, .v-leave-active {
    transition: opacity 0.5s;
}

[v-cloak] {
    display: none !important;
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s;
}

.fade-leave-active {
    opacity: 0;
    transform: translateY(-0.85rem);
    transition: all .5s;
}

.fade-enter /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(0.85rem);
}

.fade-leave-to {
    opacity: 0;
    transform: translateY(-0.85rem);
}
/*����Ч��end*/

html,
body,
.box {
    width: 100%;
    height: 100%;
}

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 20px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.upDownIconfont {
    font-size: 24px;
    text-anchor: middle;
    fill: #fff;
}

polyline {
    stroke-width: 2px;
    fill: none;
    /* display: none */
}

.labels text {
    /* display: none */
    fill: #ffffff;
}

/* Make the percentage on the text labels bold*/

.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */

.labelName {
    font-size: 0.9em;
    font-style: italic;
}

/* .listLeft {
        width: 20%;
        float: left
    } */

#svgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.98rem;
    overflow: hidden;
}

    #svgWrapper > svg {
        background-color: #000;
    }

.buttonTab {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.98rem;
    background-color: coral;
}

.upMiddleBtn {
    font-size: 24px;
    stroke: #00ff00;
    fill: #0000ff;
}



.wrapper .title {
    transform: scale(1);
    font-size: 0.36rem;
    font-weight: bold;
}

.wrapper .icon {
    font-size: 0.6rem;
    transform: scale(1);
}

    .wrapper .title.btnActive,
    .wrapper .icon.btnActive {
        transform: scale(1.2);
    }

.filterShow {
    /* filter: url(#drop-shadow); */
}

.filterNone {
    filter: none;
}

.mainTitle {
    font-size: 0.72rem
}

.mainFnBtnText {
    font-size: 24px;
    text-anchor: middle;
    font-weight: bold;
    transform: translateY(12px);
}

.accurateSearchBox-s2 > div.accurateSearchBox-s2-search {
    height: 1.04rem;
    line-height: 0.7rem;
    box-sizing: border-box;
    padding: 0.17rem 0.35rem 0.17rem 0.35rem;
    display: block;
}

.accurateSearchBox-s2 > div.accurateSearchBox-s2-res {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    z-index: 4;
    height: 4.8rem;
    padding: 0 0.35rem;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}

.accurateSearchBox-s2 > div > input {
    position: relative;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.28rem;
    background-color: #4D4D4D;
    border-radius: 0.35rem;
    box-sizing: border-box;
    padding: 0 0.6rem;
    /* text-align: center; */
    color: #fff;
}

.accurateSearchBox-s1 {
    width: 1.12rem;
    height: 0.7rem;
    line-height: 0.7rem;
}

.accurateSearchBox-s2 {
    -webkit-box-flex: 1;
}

.index-search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    right: 0;
}

.pcBtn2 {
    position: fixed;
    bottom: 2.5rem;
    padding: 0.1rem;
    z-index: 1;
    right: 0;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    z-index: 2;
    background: rgba(219,51,42,0.8);
    color: #fff;
    font-size: 0.24rem;
}

    .pcBtn2 > i {
        display: inline-block;
        width: 0.12rem;
        height: 0.12rem;
        background: rgba(255,255,255,1);
        border-radius: 50%;
        box-shadow: 0 0 0.12rem #fff;
        vertical-align: middle;
    }

.fake text {
    display: none;
}

#mainFnBtnLine {
    transform: rotate(-10deg);
}
/*ʵʱ��Ϣ����*/
.dm {
    position: absolute;
    top: 1.2rem;
    left: 0.2rem;
    /* top: 0.4rem;
    left: 0.2rem; */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

    .dm > div {
        position: relative;
        z-index: 2;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        overflow: hidden;
        margin-right: -0.3rem;
    }

    .dm > p {
        position: relative;
        height: 0.56rem;
        line-height: 0.56rem;
        background: rgba(190,2,1,0.86);
        border-radius: 0.06rem 0.28rem 0.28rem 0.06rem;
        box-sizing: border-box;
        padding: 0 0.4rem 0 0.33rem;
    }

        .dm > p > i {
            position: absolute;
            top: 0.17rem;
            right: 0.16rem;
            display: inline-block;
            width: 0.13rem;
            height: 0.23rem;
            /* background: url("../image/icon/icon-pointRight-w.png") no-repeat center; */
            background-size: 100% 100%;
        }

.shareGuide {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.index-serNote{
    position: fixed;
    right: -3.7rem;
    top: 1.59rem;
    z-index: 3;
    transform: translateX(0);
    transition: all 1s;
}

    .index-serNote.active {
        transform: translateX(-4rem);
    }

    .index-serNote > p.index-serNote-title {
        width: 0.6rem;
        /*height: 1.9rem;*/
        /*writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(255,136,0,1);
        border-radius: 10px 0px 0px 10px;
        color: #fff;
        padding: 0.1rem 0;
        transition: all 1s;
        opacity: 1;
    }

        .index-serNote > p.index-serNote-title > span {
            line-height: 1.2;
        }

.index-serNote-con {
    width: 3.7rem;
    background: rgba(0,0,0,0.8);
    border-radius: 0.06rem;
}

.index-serNote-con-title {
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    color: #FF8800;
    font-size: 0.26rem;
}

.index-serNote-con-word {
    padding: 0.11rem 0.09rem 0.21rem 0.19rem;
    font-size: 0.18rem;
    line-height: 1.5;
}

.index-serNote-con-btn > a {
    width: 2.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0 auto 0.2rem;
    border-radius: 0.3rem;
    text-align: center;
}

.index-serNote.active .index-serNote-title {
    opacity: 0;
}

.index-search-wrapper {
    position: absolute;
    top: 0.17rem;
    left: 0.35rem;
    bottom: 0.17rem;
    right: 0.35rem;
    line-height: 0.7rem;
    text-align: center;
    z-index: 1;
    color: #BFBFBF;
    font-size:0.28rem;
}

.index-mainSelect {
    position: fixed;
    right: 0.3rem;
    top: 1.05rem;
    z-index: 5;
    transition: all 1s;
    background: rgba(0,0,0,0.8);
    padding: 0 0.56rem 0 0.2rem;
    box-sizing: border-box;
    border-radius: 0.06rem;
}

    .index-mainSelect.active {
        display:block
    }
.index-mainSelect-title{
    height:0.7rem;
    line-height:0.7rem;
}
.index-mainSelect-close{
    position: absolute;
    top: -12px;
    right: -0.1rem;
    z-index: 9999999999;
    color: #fff;
    font-size: 22px;
    transform: rotate(45deg)
}
.index-mainSelect-wrapper {
    height: 4rem;
    overflow:hidden

}

.index-mainSelect-sec {
        line-height: 0.58rem;
    height: 0.58rem;
    font-size: 0.28rem;
}

    .index-mainSelect-sec .weui-cells_checkbox label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .index-mainSelect-sec .index-mainSelect-sec-input {
        width: 0.3rem;
        height: 0.3rem;
    }

        .index-mainSelect-sec .index-mainSelect-sec-input .weui-cell__hd {
            box-sizing: border-box;
            border: 1px solid #fff;
        }

    .index-mainSelect-sec .weui-cells_checkbox .weui-icon-checked:before {
        font-size: 0.36rem;
    }

/*�޸�ѡ���*/
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
    content: '\EA08';
}

.accurateSearchBox-s2-res-wrapper {
    border-radius: 0.1rem;
}

    .accurateSearchBox-s2-res-wrapper > li {
        height: 0.8rem;
        line-height: 0.8rem;
        padding: 0 0.18rem;
    }

        .accurateSearchBox-s2-res-wrapper > li > p {
            border-bottom: 1px solid #ccc;
        }


/*bz�����˵���*/
.dm-robot {
    position: fixed;
    bottom: 1.06rem;
    left: 0.18rem;
    /* right: 0.18rem; */
    display: flex;
    align-items: center;
}

.dm-robot-logo {
    margin-right: 3%;
    width: 0.82rem;
    height: 1.29rem;
}

.dm-robot-note {
    position: relative;
    display: flex;
    width: 80%;
}

    .dm-robot-note::before {
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        left: -0.3rem;
        top: 50%;
        display: block;
        content: "";
        background: rgba(133,1,1,1);
        border-radius: 50%;
        margin-top: -0.05rem;
    }

    .dm-robot-note > img {
        height: 0.6rem;
    }

    .dm-robot-note > div.dm-robot-note-con {
        position: relative;
        position: relative;
        margin-left: 4%;
        /* overflow-y: hidden; */
        background: rgba(190,2,1,0.7);
    }

        .dm-robot-note > div.dm-robot-note-con > p {
            position: relative;
            padding: 0 1%;
            word-break: keep-all;
            /*transform:translateY(0.85rem)*/
        }

/*.dm-robot-note > div.dm-robot-note-con > section > p {
                height: 0.4rem;
                line-height: 0.4rem;
               
            }*/
/*.dm-robot-note>p::before{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:5%;
    display:block;
    content:"";
    background:url(../../sxl/icon/bzRobotL.png) no-repeat center
}*/
.dm-robot-note-logoL {
    width: 4%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
}

.dm-robot-note-logoR {
    width: 4%;
    height: 100%;
    display: block;
    position: absolute;
    right: -4%;
    top: 0;
}
/*���ص���*/
.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*��������*/
.unData {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*��ҵ����*/
.provinceOfCompany {
    position: fixed;
    top: 50%;
    left: 0.2rem;
    transform: translateY(-50%);
    width: 45%;
}

.provinceOfCompany-title {
    height: 0.5rem;
    line-height: 0.5rem;
    background: rgba(255,255,255,1);
    border-radius: 0.1rem 0.1rem 0 0;
    box-sizing: border-box;
    padding: 0 0.1rem;
}

    .provinceOfCompany-title > p.fr {
        font-size: 0.2rem;
        color: #FE8700;
    }

        .provinceOfCompany-title > p.fr > i {
            font-size: 0.3rem;
            color: #333333;
        }

.provinceOfCompany-con {
    background: rgba(255,255,255,0.8);
    border-radius: 0 0 0.1rem 0.1rem;
    box-sizing: border-box;
    padding: 0 0.1rem;
}

.provinceOfCompany-con-fn {
    padding: 0.23rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .provinceOfCompany-con-fn > span {
        font-size: 0.24rem;
        font-family: SimHei;
        font-weight: 400;
        color: rgba(102,102,102,1);
    }

    .provinceOfCompany-con-fn > a {
        padding: 0.05rem 0.08rem;
        color: #fff;
        background-color: #20B0D4;
        font-size: 0.2rem;
    }

.provinceOfCompany-con-res {
    height: 3.11rem;
}

.provinceOfCompany-con-send {
    font-size: 0.24rem;
    font-family: SimHei;
    font-weight: bold;
    color: rgba(0,0,0,1);
    text-align: center;
    margin-bottom: 0.23rem;
}

.provinceOfCompany-con-btn {
    display: flex;
    padding-bottom: 0.1rem;
}

    .provinceOfCompany-con-btn > section {
        flex: 1;
    }

.provinceOfCompany-con-btn-sec > a {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background: rgba(32,176,212,1);
    border-radius: 50%;
    text-align: center;
}

.tipsOrSuccessWrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipsOrSuccessWrapper-con {
    background: rgba(0,0,0,0.7);
    border-radius: 0.08rem;
    color: #fff;
    padding: 0.16rem 0.2rem;
}

.tipsOrSuccessWrapper-con-checkPie > a {
    width: 2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    color: #fff;
    border-radius: 0.25rem;
}

.tipsOrSuccessWrapper-con-recSuccess {
    padding: 0.3rem 0.4rem;
}
/*�ײ�����*/
#tabbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    display: -webkit-box;
    background-color: #09a2a3;
    z-index: 99;
}

    #tabbar > li {
        -webkit-box-flex: 1;
        height: 100%;
    }

        #tabbar > li > a {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -webkit-box-orient: vertical;
            font-size: 0.24rem;
        }

            #tabbar > li > a > img {
                width: 0.43rem;
                height: 0.43rem;
            }

            #tabbar > li > a > p {
                line-height: 1.4;
                color: #92f6f7;
            }
/*�Ի������loading*/
.chartLoading{
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom:0;
    right:0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column
}
.chartLoadingImg{
    width:1.28rem;
    height:1.28rem
}